/* Reset */
*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:link,
*:visited,
a {
  color: #fff;
  text-decoration: none;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 65.5%;
    color: black !important;
  }
  @include respond(tab-port) {
    font-size: 50%;
    color: black !important;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(phone) {
    font-size: 31.2%;
    color: black !important;
  }
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0px;
  }
}

/* Reset */
